// IMPORT PARTILS
@import './scss/header', './scss/home', './scss/about', './scss/footer', './scss/medias', './scss/reset', './scss/variaveis';

// IMPORT FONT
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;700;800&display=swap');
@font-face {
    font-family: 'Rockerby';
    src: url(../font/Rockerby.ttf);
}

// * CSS
:root {
    --background: #000154;
    --branco: #fff;
    --swiper-theme-color: #17FFBA;
}


html, body {
    scroll-behavior: smooth;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #181A1B;
    font-family: 'Sora', "Lucida Grande", Tahoma, sans-serif;
}

img, video {
    max-width: 100%;
    height: auto; /* Mantém a proporção da altura */
}

body{
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}







